@helper Intro() {

    <img class="img-circle img-thumbnail img-small" src="images/avatar.jpg" />
    <h4>Sander Hoogendoorn</h4>
    <p class="text-tiny">
        Sander is an independent dad, mentor, trainer, software architect, programmer, speaker, and writer. He is a highly appreciated catalyst in the innovation of software development at his many international clients.
    </p>
    <h4><span class="fa fa-twitter-square"></span> aahoogendoorn</h4>
    <h4><span class="fa fa-linkedin-square"></span> aahoogendoorn</h4>
}
